* {
    border: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    background-color: rgba(240, 240, 240, 255);
}


/*  SECCION MENU */

#menu {
    position: sticky;
    /*  MENU PEGAGOSO */
    top: 0;
}

#menu {
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color: #131313f1;
}

#menu img {
    /*  MENU - LOGO */
    width: 4%;
    padding-right: 20px;
}

#menu p {
    /*  MENU - NOMBRE */
    font-size: 15px;
    color: #f4dc1c;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(17, 17, 17, 0.342);
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 60%;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(17, 17, 17, 0.425);
}

#menu ul a {
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    color: #f4dc1c;
    font-weight: bold;
    font-size: 110%;
}

#menu ul a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 2px;
    background-color: #f4dc1c;
    transition: width .3s;
}

#menu ul a:hover::after {
    width: 100%;
    transition: width .3s;
}


/*  SECCION TEXTO */

#punto2 img {
    float: right;
    margin-left: 50px;
}

#punto4 img {
    float: right;
    margin-left: 50px;
}

h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 30pt;
}

#texto h2 {
    font-family: 'Liberation Serif';
    font-size: 20pt;
}

#texto p {
    font-family: 'Times New Roman';
    font-size: 12pt;
}

#texto li {
    margin-bottom: 10px;
}

#texto {
    text-align: justify;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
}

#texto-info {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 74%;
}

a {
    text-decoration: none;
    color: #2FA8EC;
}

a:hover {
    color: #2b95d3;
}